# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQl

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.

|Data Science Tools |
|:---:|
|Apache Spark |
|Jupyter Notebook |
|Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
result = (3*4)+5
print("Result =", result)

Result = 17

In [10]:
# This will convert 200 minutes to hours by diving by 60
hours = (200/60)
print("Result=", hours)

Result= 3.3333333333333335

**Objectives:**
* Popular languages For Data Science.
* Commonly used library for Data Science.
* Commonly used Data Science tools.
* Few examples fo Arthmetic expression in Python.

## Author
Sunny Rudresh Sinari